# Analiza podatkov o IMDB-jevi lestvici najboljših 250 serij po ocenah ljudi

Ta zvezek vsebuje analizo podatkov o IMDB-jevi lestvici, pomožni skripti za analizo so v parse_data/helpers.

Analizirali bomo:
- Porazdelitev serij po tipu (serijia ali miniserija)
- Porazdelitev serij po državah
- Porazdelitev serij po letih
- Porazdelitev serij po št. glasov iz IMDB-ja
- Pogostost medijskih kanalov in produkcijskih hiš
- 
    Število nagrajencev po področju;
    Porazdelitev nagrajencev po državah;
    Pogostost univerz;
    Razporeditev po spolu;
    Države glede na število nagrajencev.

In [1]:
# ## AUTORELOADING OF MODULES
import conf.jupyter_notebook_conf  # noqa: F401

In [2]:
import pandas as pd


path_to_full_data_csv = "./../../output/toptv_shows_full_data.csv"
df = pd.read_csv(path_to_full_data_csv)

# Popravki za boljšo preglednost
# "Korea, Republic of" = South Korea
df["trakt_country_of_origin"] = df["trakt_country_of_origin"].replace({"Korea, Republic of": "South Korea"})

In [7]:
# Najprej lahko na hitro pogledamo koliko je med top 250 serijami dejansko serij in miniserij
# Serije so ponavadi daljše, več sezon, medtem ko imajo miniserije ponavadi od 3 do 10 epizod in načeloma samo eno sezono
from helpers.serije_miniserije import tabela_serije_miniserije_razmerje

tabela_serije_miniserije_razmerje(df)

       Tip serije  Št. serij % Serij
0      Vse skupaj        250   100 %
1       TV Series        211    84 %
2  TV Mini Series         39    15 %

Zdaj lahko primerjamo še po državah, glede na serije in miniserije in oboje skupaj, ter še procentualno

In [8]:
from helpers.serije_miniserije import tabela_serije_miniserije_po_drzavah


tabela_serije_miniserije_po_drzavah(df)

     Država izvora  Št. vseh serij  Serije  Miniserije % Serije % Miniserije
0        Australia               2       2           0    100 %          0 %
1           Turkey               6       6           0    100 %          0 %
2           Sweden               1       1           0    100 %          0 %
3      South Korea               5       5           0    100 %          0 %
4           Serbia               1       1           0    100 %          0 %
5           Poland               1       0           1      0 %        100 %
6           Norway               1       1           0    100 %          0 %
7      New Zealand               1       0           1      0 %        100 %
8   United Kingdom              50      38          12     76 %         24 %
9    United States             121     103          18     85 %         15 %
10           Japan              28      26           2     93 %          7 %
11           Italy               2       2           0    100 %          0 %
12         Ireland               1       1           0    100 %          0 %
13           India              13      12           1     92 %          8 %
14         Germany               2       1           1     50 %         50 %
15          France               2       1           1     50 %         50 %
16          Canada               5       4           1     80 %         20 %
17          Mexico               1       1           0    100 %          0 %
18            N.A.               7       6           1     86 %         14 %

Ker vidimo, da miniserije predstavljajo samo 15 procentov vsega, jih bomo od zdaj naprej obravnavali skupaj

## Analiza po letih